appdirs==1.4.3
arcade==2.2.1
asgiref==3.2.10
astroid==2.4.2
atomicwrites==1.1.5
attrs==18.1.0
autopep8==1.5.4
awscli==1.18.11
beautifulsoup4==4.8.1
botocore==1.15.11
bs4==0.0.1
certifi==2018.4.16
chardet==3.0.4
Click==7.0
colorama==0.4.1
cx-Oracle==7.3.0
cycler==0.10.0
defusedxml==0.6.0
distlib==0.3.0
dj-database-url==0.5.0
Django==3.1.1
django-allauth==0.42.0
django-extensions==2.2.5
django-mysql==3.2.0
django-qrcode==0.3
djangorestframework==3.10.3
docutils==0.15.2
Faker==4.0.2
filelock==3.0.12
flake8==3.8.4
future==0.18.2
html5lib==1.0.1
httpie==1.0.3
idna==2.8
importlib-metadata==1.5.0
importlib-resources==1.3.1
isort==5.7.0
jedi==0.17.2
Jinja2==2.11.3
jmespath==0.9.5
kiwisolver==1.1.0
lazy-object-proxy==1.4.3
lxml==4.5.1
MarkupSafe==1.1.1
matplotlib==3.1.2
mccabe==0.6.1
mysqlclient==1.4.4
numpy==1.17.4
oauthlib==3.1.0
pandas==1.0.3
parso==0.7.1
pdf2image==1.10.0
Pillow==6.2.1
pluggy==0.13.1
pyasn1==0.4.8
pycodestyle==2.6.0
pycricket==1.0
pydocstyle==5.1.1
pyflakes==2.2.0
pyglet==1.4.8
pyglet-ffmpeg2==0.1.16
Pygments==2.5.2
pylint==2.6.0
PyMySQL==0.9.3
pyparsing==2.4.6
PyPDF2==1.26.0
pypng==0.0.20
PyQRCode==1.2.1
python-dateutil==2.8.1
python-jsonrpc-server==0.4.0
python-language-server==0.36.2
python3-openid==3.2.0
pytiled-parser==0.9.2
pytz==2019.3
PyYAML==5.2
requests==2.22.0
requests-oauthlib==1.3.0
rope==0.18.0
rsa==3.4.2
s3transfer==0.3.3
selenium==3.141.0
six==1.13.0
snowballstemmer==2.0.0
soupsieve==1.9.5
sqlparse==0.3.0
text-unidecode==1.3
toml==0.10.2
tqdm==4.56.0
typed-ast==1.4.1
ujson==4.0.1
urllib3==1.25.7
virtualenv==20.0.9
webencodings==0.5.1
wrapt==1.12.1
yapf==0.30.0
zipp==3.1.0
